<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <!-- Bootstrap & CSS only -->
    <link rel="stylesheet" href="../../../public/css/style.css">
    <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../node_modules/bootstrap-social/bootstrap-social.css">

</head>
</head>
<body class="bg-primary">
    <div class="row">
        <div style="margin-top: 25px;padding: 20px;width: 100%;">
            {{{body}}}
        </div>
    </div>
    <script src="../../../node_modules/jquery/dist/jquery.slim.min.js"></script>
        <script src="../../../node_modules/popper.js/dist/umd/popper.min.js"></script>
        <script src="../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>