<h3 class="bg-white text-center">Business Contact List</h3>
<table class="table table-striped bg-white">
    <thead>
        <tr>
            <th>username</th>
            <th>password</th>
            <th>email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.username}}</td>
            <td>{{this.password}}</td>
            <td>{{this.email}}</td>
            <td><a href="/contact/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a></td>
        <td><a href="/contact/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record?');" > <i class="fa fa-trash fa-lg" aria-hidden="true"></i></a></td>
        </tr>
        {{/each}}
    </tbody>
</table>
